body {
  background-color: #000;
  font-family: cy, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body h1 {
  text-align: center;
  color: #fff;
  font-size: 4vw;
  margin-top: 13vh;
}

body #time {
  color: #FFF;
  text-align: center;
  margin-top: 5vw;
}

body #time #days {
  font-size: 15vw;
}

body #time #days_small {
  font-size: 1vw;
  margin-right: 3vw;
}

body #time #hours {
  font-size: 15vw;
}

body #time #min {
  font-size: 15vw;
}

body #time #sec {
  font-size: 15vw;
}

body #time .aida {
  font-size: 15vw;
}
